.boardColumn {
    border: 1px inset black;
}

.boardHeader {
    font-size  : 1.5em;
    font-weight: 500;
    text-align : center;
    height     : 3em;
    line-height: 3em;
}

.todo-header {
    background-color: #00CED1;
}

.inProgress-header {
    background-color: #DDA0DD;
}

.done-header {
    background-color: #98FB98;
}

.boardTaskList {
    background-color: white;
    height: 80vh
}