<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Kanban Board - Task Editor</title>
</head>

<head th:insert="parts/head.html :: head" />

<body>
    <header th:insert="parts/navbar.html :: navbar" />
    <div class="container my-4">
        <div class="row">
            <form th:action="${taskId} ? @{/editTask(taskId=${taskId})} : @{/createTask}" th:object="${taskForm}" method="post">
                <div class="mb-3 w-25">
                    <label for="assigneeList" class="form-label" th:text="#{task.label.assignee}" />
                    <select class="form-control" id="assigneeList" th:field="*{assignee}">
                        <option th:each="user : *{availableAssignees}" th:value="${user.id}"
                            th:selected="*{assignee.id}"
                            th:text="${user.firstName} and ${user.lastName} ? |${user.firstName} ${user.lastName} (${user.login})| : ${user.login}">
                        </option>
                    </select>
                </div>
                <div class="mb-3 w-50">
                    <label for="title" class="form-label" th:text="#{task.label.title}" />
                    <input type="text" id="title" class="form-control" th:field="*{title}" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label" th:text="#{task.label.description}" />
                    <textarea id="description" class="form-control" th:field="*{description}" rows="7" />
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary me-3" th:text="#{common.action.save}"
                            th:name="action" th:value="edit" />
                    <button type="submit" class="btn btn-dark me-3" th:text="#{common.action.delete}" th:if="${taskId}"
                            th:name="action" th:value="delete"/>
                </div>

            </form>
        </div>
    </div>
</body>

</html>