<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Kanban Board - Users</title>
</head>

<head th:insert="parts/head.html :: head" />

<body>
    <header th:insert="parts/navbar.html :: navbar" />
    <div class="p-5" th:with="isNotEmpty = ${not #lists.isEmpty(users)}">
        <th:block th:if="${isNotEmpty}">
            <table class="table table-bordered table-responsive-md">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Login</th>
                </tr>
                <div th:each="user : ${users}">
                    <tr>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.login}"></td>
                        <td><a th:text="#{common.action.edit}" th:href="@{/editUser/{id}(id=${user.id})}"></a></td>
                    </tr>
                </div>
            </table>
        </th:block>
        <span class="mb-3" th:unless="${isNotEmpty}" th:text="#{common.action.notFound}" />
    </div>
</body>

</html>