<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Kanban Board</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a role="button" class="btn btn-primary" th:href="@{/createTask}"
                        th:text="#{navbar.navitem.createTaskButton}" />
                </li>
            </ul>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item me-3">
                    <form class="form-inline" th:action="@{/searchTasks}" method="post">
                        <div class="input-group">
                            <input class="form-control" type="text" th:name="pattern"
                                th:placeholder="#{common.action.search}">
                            <button class="btn btn btn-primary" type="submit" th:text="#{common.action.search}" />
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" id="userMenuButton"
                            data-bs-toggle="dropdown" th:text="${#httpServletRequest.remoteUser}" />
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" th:text="#{user.action.edit}" th:href="@{/editUser}" />
                            <hr class="dropdown-divider">
                            <form th:action="@{/logout}" method="post">
                                <a class="dropdown-item" href="#" onclick="parentNode.submit();"
                                    th:text="#{navbar.navitem.userButton.logout}" />
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

</html>